.container {
	max-width: 64rem;
}

main {
	display: flex;
	justify-content: center;
}
.header {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
}
ul {
	list-style: none;
	text-decoration: none;
}

a {
	text-decoration: none;
	font-size: 1.5rem;
}

.card {
	margin-bottom: 1rem;
	padding: 0;
}

.img {
	object-fit: fill;
	width: 100%;
}
